DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=smarthome_db

MQTT_HOST=xxxxxxxx.s1.eu.hivemq.cloud
MQTT_PORT=8883 # O número da porta será a única informação diferente em relação ao .env do frontend
MQTT_USER=seu_usuario
MQTT_PASS=sua_senha